body {
    font-family: Arial, sans-serif;
    background-color: rgb(119, 107, 93);

}
header {
    background-color: rgb(235, 227, 213);
    height: 100px;
    color: black;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 25px;
    padding-bottom: 15px;
    

    
}
.practicas {
    background-color: rgb(243, 238, 234);
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    
}
input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: rgb(71, 69, 69);
    color: rgb(243, 238, 234);
}

.pehpe{
    line-height: 2.5em;
    background-color: rgb(243, 238, 234);
    border: 3px solid black;
    border-radius: 4px;
    padding: 20px;
    font-size:medium;
    margin-top: 150px;
    width: 600px;
    margin: 20px auto;
    color: rgb(0, 0, 0);
}
